p{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-top: 3vh;
  cursor: pointer;
}
.example-spacer {
  flex: 1 1  auto;
}

.navBarContainer {
  height: 70px;
  background-color: #EEF0F1;
  border: 2px solid #d1d9e6;
}

.center{
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
}

.center img{
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    cursor: pointer;
}

.write-post{
  border-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 2.5% ;
  outline: none;
  border: none;
  background-color: #FFFFFF;
  border: 1px solid  black;
}

.write-post:hover{
  cursor: pointer;
}

.btn-login{
  border-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 2% ;
  outline: none;
  border: 1px solid black;
}

.btn-login:hover{
  cursor: pointer;
}

.search-bar{
  margin: 1% 0 0 5%;

}
@media (max-width: 750px) {
  app-nav-items {
      display: none;
  }
  app-search-bar {
      display: none;
  }
  .disable {
      display: none;
  }
  .center {
      display: flex;
      align-items: center;
      justify-content: center;

  }
  .center {
      display: none;
  }
}


