.card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}
.example-card{
  border: 0.5px solid  black;
}
.sign-in-title{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 7%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.sign-in-button button{
  margin: 10px;
  outline: none;
  border:0;
  cursor: pointer;
  width: 5vw;
  height: 5vh;
  margin: 20px;
  border: 1px solid black;
}



