.sdt-update{
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  width: 100%;
  height: 100%;
}
.card{
  width: 60vw;
  height: 70vh;
  background-color: white;
  border: 1px solid lightgray ;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10vh;
  padding-top: 5vh;
}

.class-add {
  width: 80%;
  margin-left: 10%;
}


